<p style="color: green"><%= notice %></p>

<%= render @purchase %>

<div>
  <%= link_to "Edit this purchase", edit_category_purchase_path(@purchase) %> |
  <%= link_to "Back to purchases", category_purchases_path %>

</div>
