<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= yield%>
  </tbody>
</table>

<%= link_to fa_icon("arrow-left") , categories_path , class: "btn btn-dark"%>
   


