<% if user_signed_in? %>
     <%= render partial: 'shared/header_categories' %>
  
     <%end%>
<div class="container">
        <%# <div class="card shadow-2-strong" style="border-radius: 1rem;"> %>

<div class="header-contents">
<h1 class="header">Categories</h1>
<%= link_to fa_icon("plus"), new_category_path, class: "btn btn-primary add-button"%>
</div>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>

</div>
 
<%# </div> %>
</div>

