<div class="container">
<div class="header-new">
<%= link_to fa_icon("arrow-left"), categories_path %>
<h1 class="header">New category</h1>
</div>
<%= render "form", category: @category %>

<br>


</div>
